<div id="<%= dom_id client %>">
  <p>
    <strong>First name:</strong>
    <%= client.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= client.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= client.phone_number %>
  </p>

  <p>
    <strong>Dni:</strong>
    <%= client.DNI %>
  </p>

  <p>
    <strong>Expenses:</strong>
    <%= client.expenses %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= client.room_id %>
  </p>

</div>
