<div id="<%= dom_id room %>">
  <p>
    <strong>Beds number:</strong>
    <%= room.beds_number %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= room.price %>
  </p>

  <p>
    <strong>State:</strong>
    <%= room.state %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= room.type %>
  </p>

  <p>
    <strong>Num room:</strong>
    <%= room.num_room %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= room.description %>
  </p>

</div>
